body{
    background:radial-gradient(rgb(104, 155, 148),rgb(87, 87, 209),rgb(83, 83, 165),rgb(48, 48, 143),rgb(57, 57, 100));
}
h2{
    text-align: center;

 }
 h2{
    text-align: center;
 }
 h3{
    background-color: rgb(236, 246, 255);
    text-align: center;
 }
 form{
    text-align: center;
 }
 h3{
    background-color:rgb(209, 172, 23);
    text-align: center;
 }
 form{
    text-align: center;
 }
 h3{
    background-color:rgb(209, 172, 23);
    text-align: center;
 }
 form{
    text-align: center;
 h2{
    text align: center;
 }